<section class="testimonial-section" id="testimonial-component">
  <div class="custom_container">
    <h2 class="section-title">Happy Client</h2>
    <p class="section-subtitle">
      4.9(280)
      <img
        src="assets/images/colorStar.png"
        class="color-star"
        alt="Google Review"
      />
      <img
        src="assets/images/colorStar.png"
        class="color-star"
        alt="Google Review"
      />
      <img
        src="assets/images/colorStar.png"
        class="color-star"
        alt="Google Review"
      />
      <img
        src="assets/images/colorStar.png"
        class="color-star"
        alt="Google Review"
      />
      <img
        src="assets/images/lightstar.png"
        class="color-star"
        alt="Google Review"
      />
      House cleaning service
    </p>

    <div class="testimonial-slider" id="testimonialSlider">
      <div class="trusted-drag-cursor" aria-hidden="true">
        <span>Drag</span>
      </div>
      <div class="testimonial-track" id="testimonialTrack">
        <div class="testimonial-item">
          <div class="testimonial-card">
            <div class="client-info">
              <div class="client-left">
                <img
                  src="/assets/images/avatar_1.png"
                  class="client-img"
                  alt="John Doe"
                />
                <div>
                  <h5 class="client-name">John Doe</h5>
                  <p class="client-role">Company CEO</p>
                </div>
              </div>
              <img src="/assets/images/googleIcon.png" alt="googleIcon" />
            </div>
            <div class="review-score">
              (4.90)
              <img
                src="assets/images/colorStar.png"
                class="color-star"
                alt="Google Review"
              />
              <img
                src="assets/images/colorStar.png"
                class="color-star"
                alt="Google Review"
              />
              <img
                src="assets/images/colorStar.png"
                class="color-star"
                alt="Google Review"
              />
              <img
                src="assets/images/colorStar.png"
                class="color-star"
                alt="Google Review"
              />
              <img
                src="assets/images/lightstar.png"
                class="color-star"
                alt="Google Review"
              />
            </div>
            <p class="testimonial-text">
              "I've been consistently impressed with the quality of service
              provided by this website. They have exceeded my expectations and
              delivered exceptional results. Highly recommended!"
          
            </p>
          </div>
        </div>

        <div class="testimonial-item">
          <div class="testimonial-card">
            <div class="client-info">
              <div class="client-left">
                <img
                  src="/assets/images/avatar_2.png"
                  class="client-img"
                  alt="Emma Collins"
                />
                <div>
                  <h5 class="client-name">Emma Collins</h5>
                  <p class="client-role">Company CEO</p>
                </div>
              </div>
              <img src="/assets/images/googleIcon.png" alt="googleIcon" />
            </div>
            <div class="review-score">
              (4.90)
              <img
                src="assets/images/colorStar.png"
                class="color-star"
                alt="Google Review"
              />
              <img
                src="assets/images/colorStar.png"
                class="color-star"
                alt="Google Review"
              />
              <img
                src="assets/images/colorStar.png"
                class="color-star"
                alt="Google Review"
              />
              <img
                src="assets/images/colorStar.png"
                class="color-star"
                alt="Google Review"
              />
              <img
                src="assets/images/lightstar.png"
                class="color-star"
                alt="Google Review"
              />
            </div>
            <p class="testimonial-text">
              "I've been consistently impressed with the quality of service
              provided by this website. They have exceeded my expectations and
              delivered exceptional results. Highly recommended!"
            </p>
          </div>
        </div>

        <div class="testimonial-item">
          <div class="testimonial-card">
            <div class="client-info">
              <div class="client-left">
                <img
                  src="assets/images/avatar_3.png"
                  class="client-img"
                  alt="John Harris"
                />
                <div>
                  <h5 class="client-name">John Harris</h5>
                  <p class="client-role">Small Business Owner</p>
                </div>
              </div>
              <img src="assets/images/roundIcon.png" alt="Google Review" />
            </div>
            <div class="review-score">
              (4.80)
              <img
                src="assets/images/colorStar.png"
                class="color-star"
                alt="Google Review"
              />
              <img
                src="assets/images/colorStar.png"
                class="color-star"
                alt="Google Review"
              />
              <img
                src="assets/images/colorStar.png"
                class="color-star"
                alt="Google Review"
              />
              <img
                src="assets/images/colorStar.png"
                class="color-star"
                alt="Google Review"
              />
              <img
                src="assets/images/lightstar.png"
                class="color-star"
                alt="Google Review"
              />
            </div>
            <p class="testimonial-text">
              "I've been consistently impressed with the quality of service
              provided by this website. They have exceeded my expectations and
              delivered exceptional results. Highly recommended!"
            </p>
          </div>
        </div>

        <div class="testimonial-item">
          <div class="testimonial-card">
            <div class="client-info">
              <div class="client-left">
                <img
                  src="assets/images/avatar_2.png"
                  class="client-img"
                  alt="Sophia Lee"
                />
                <div>
                  <h5 class="client-name">Sophia Lee</h5>
                  <p class="client-role">Office Manager</p>
                </div>
              </div>
              <img src="/assets/images/googleIcon.png" alt="googleIcon" />
            </div>
            <div class="review-score">
              (4.90)
              <img
                src="assets/images/colorStar.png"
                class="color-star"
                alt="Google Review"
              />
              <img
                src="assets/images/colorStar.png"
                class="color-star"
                alt="Google Review"
              />
              <img
                src="assets/images/colorStar.png"
                class="color-star"
                alt="Google Review"
              />
              <img
                src="assets/images/colorStar.png"
                class="color-star"
                alt="Google Review"
              />
              <img
                src="assets/images/lightstar.png"
                class="color-star"
                alt="Google Review"
              />
            </div>
            <p class="testimonial-text">
              "Great communication, on-time service, and spotless results every
              time. Their team is professional and very friendly."
            </p>
          </div>
        </div>

        <div class="testimonial-item">
          <div class="testimonial-card">
            <div class="client-info">
              <div class="client-left">
                <img
                  src="assets/images/avatar_1.png"
                  class="client-img"
                  alt="Michael Grant"
                />
                <div>
                  <h5 class="client-name">Michael Grant</h5>
                  <p class="client-role">Property Owner</p>
                </div>
              </div>
              <img src="/assets/images/roundIcon.png" alt="roundIcon" />
            </div>
            <div class="review-score">
              (4.85)
              <img
                src="assets/images/colorStar.png"
                class="color-star"
                alt="Google Review"
              />
              <img
                src="assets/images/colorStar.png"
                class="color-star"
                alt="Google Review"
              />
              <img
                src="assets/images/colorStar.png"
                class="color-star"
                alt="Google Review"
              />
              <img
                src="assets/images/colorStar.png"
                class="color-star"
                alt="Google Review"
              />
              <img
                src="assets/images/lightstar.png"
                class="color-star"
                alt="Google Review"
              />
            </div>
            <p class="testimonial-text">
              "I booked recurring cleaning and the quality has stayed
              consistent. Highly recommended for both homes and offices."
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
