<section class="works " id="why-works-us-component">
    <div class="custom_container">
        <!-- Section Header -->
        <div class="mb-5">
            <h2 class="hows_title">How It Works</h2>
            <p class="hows_subtitle">Our home cleaning services ensure a pristine space and your complete peace of
                mind.</p>
        </div>

        <!-- Features Grid -->
        <div class="row text-center g-2 g-md-2 g-lg-3 g-xl-4"">
            <!-- Feature 1 -->
            <div class=" col-6 col-sm-6 col-md-3 col-lg-3">
            <div class="feature-card text-center h-100">
                <img src="assets/svg/assessment.svg" alt="24/7" class="mb-3 feature-icon img-fluid">
                <h5 class="services_title">Initial Assessment
                    and Quote</h5>
                <p class="section_subtitle">The best cleaning service assesses your needs and provides a customized
                    quote.</p>
            </div>
        </div>

        <!-- Feature 2 -->
        <div class="col-6 col-sm-6 col-md-3 col-lg-3">
            <div class="feature-card text-center h-100">
                <img src="assets/svg/scheduling.svg" alt="Experts" class="mb-3 feature-icon  img-fluid">
                <h5 class="services_title">Scheduling and
                    Preparation</h5>
                <p class="section_subtitle">You and the service schedule a cleaning time, and you prepare your space.
                </p>
            </div>
        </div>

        <!-- Feature 3 -->
        <div class="col-6 col-sm-6 col-md-3 col-lg-3">
            <div class="feature-card text-center h-100">
                <img src="assets/svg/clean&quality_Assurance.svg" alt="Eco Friendly" class="mb-3 feature-icon  img-fluid">
                <h5 class="services_title">Cleaning and
                    Quality Assurance</h5>
                <p class="section_subtitle">The cleaning team arrives, cleans your space, and ensures high-quality
                    work..</p>
            </div>
        </div>

        <!-- Feature 4 -->
        <div class="col-6 col-sm-6 col-md-3 col-lg-3">
            <div class="feature-card text-center h-100">
                <img src="assets/svg/feedback.svg" alt="Affordable" class="mb-3 feature-icon img-fluid">
                <h5 class="services_title">Feedback
                    and Follow-up</h5>
                <p class="section_subtitle">You provide feedback, and the service follows up for future needs or
                    concerns.</p>
            </div>
        </div>
    </div>
    </div>
</section>